#page-concerts {
  @include grid-row();
      margin-top: 0;

  .main-content {
    @include breakpoint(small) {
      @include grid-column(12);
    }

  }
  
  .column {
  padding-left:1rem;
  padding-right:1rem;
  }
  
  .concert-wrapper{
  margin-top:2em;
  }
  
  .concert {
    padding:2em;
    background:#f3f6f8;
    margin:0 0 1em 0;
    border: 5px solid #ededed;
		img{
		margin-bottom: 0.5em;
		}
  }

}

