#page-concerts {
  @include grid-row();
      margin-top: 2rem;

  .main-content {
    @include breakpoint(small) {
      @include grid-column(12);
    }

  }
  
  .concert {
    padding:1em;
    background:rgba(18, 75, 109, 0.05);
    margin:0 0 1em 0;
    box-shadow: 0px 0px 0px 1px #eee;
    border: 4px solid #fff;
  }

}

