#page-tod-home {
    margin-top: 0.4rem;
  .main-content {
    @include breakpoint(small) {
      @include grid-column(12);
    }

    @include breakpoint(medium) {
      @include grid-column(7);
      //@include grid-col-pos(4);
    }
  }

  .sidebar {
    @include breakpoint(small) {
      @include grid-column(12);
    }

    @include breakpoint(medium) {
      @include grid-column(5);
      //@include grid-col-pos(-8);
      margin-top: 1rem;
    }
  }
  
   .mc-field-group {
    @include breakpoint(medium) {
      @include grid-column(12);
    }

    @include breakpoint(large) {
      @include grid-column(3);
    }
	
	input.button{
	margin-top:1.6rem;
	background-color:#dddddd;
	color:$secondary-color;
	}
	
	input.button:hover{
	background-color:#ffffff;
	}
  }
	
}

    
.home {

   .concert-title{
   padding:1rem 2rem;
	h3{
		margin:0;
		font-weight:bold;
		}
	}	
   .concert{
	background:rgba(18, 75, 109, 0.05);
		.concert-body{
		padding:2rem;
			h3{
				margin-bottom:2rem;
			}
		}
		.pieces{
			p{
			font-size:120%;
			}
			ul{
			list-style-type: none;
			margin-left: 0;
			font-weight:bold;    
            }
			li {
			line-height: 1.2;
			margin-bottom: 1rem;
			font-size: 1.4rem;
			}
		}
	}
	
	.formrow {
	background-color:$secondary-color;
	}
	
	li {
	margin-bottom: 1rem;
    line-height: 1.3;
	}
	
}

.home-signupform {
	color:$white;
	padding: 3rem 0;
label,h3{
	color:$white;
	}
}

