#page-tod-home {
    margin-top: 2rem;
  .main-content {
    @include breakpoint(small) {
      @include grid-column(12);
    }

    @include breakpoint(medium) {
      @include grid-column(8);
      //@include grid-col-pos(4);
    }
  }

  .sidebar {
    @include breakpoint(small) {
      @include grid-column(12);
    }

    @include breakpoint(medium) {
      @include grid-column(4);
      //@include grid-col-pos(-8);
      margin-top: 1rem;
    }
  }
	
	}

    
.home {
   .concert{
	background:rgba(18, 75, 109, 0.05);
	padding: 2em 2em;   
		.datetime{
		font-size:90%
		}
		.pieces{
			p{
			font-size:120%;
			}
			ul{
			list-style-type: none;
			margin-left: 0;
			font-weight:bold;    
            }
			li {
			line-height: 1.2;
			margin-bottom: 1rem;
			font-size: 1.5rem;
			}
		}
	}
}

