#footer-container {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	margin-top: rem-calc(60);
	background-color:$primary-color;
	border-top:5px solid $secondary-color;

	#footer {
		@include grid-row();
		padding: rem-calc(30) 0;
        font-size: 1rem;
		color:$light-gray;

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		h4{
			color:$light-gray;
            font-size: 1rem;
            font-weight:bold;
		}
		
		a{
		color: $medium-gray;
		text-decoration: underline;
		}
		
		#mc_embed_signup {
		width:80%;
		}
		
		.button{
		background-color:$primary-color-dark;
		}
		
		.button:hover{
		background-color:$primary-color-light;
		}
	}
}
