#footer-container {
	max-width: 100%;
	width: 100%;
	margin: 0 auto;
	margin-top: rem-calc(60);
	background-color:$light-gray;
	border-top:5px solid $secondary-color;

	#footer {
		@include grid-row();
		padding: rem-calc(30) 0;
        font-size: 1rem;

		ul {
			list-style-type: none;
			margin: 0;
			padding: 0;
		}
		h4{
			color:$primary-color;
            font-size: 1rem;
            font-weight:bold;
		}
		
		a{
		color: $primary-color;
		text-decoration: underline;
		}
	}
}
