
body{
    background:#ffffff;
}

//--------------HEADER--------------//
@include breakpoint(small) {
.hero-content {
	padding:5% 3em;
	text-shadow: #000 0px 0px 10px;
	h2{
		color:#ffffff;
		font-size:5rem;
		line-height:1;
		}
	}
}

@include breakpoint(medium) {
	.hero-content {
		padding:7% 4em;
		}

}
	
#featured-hero{
    background: $primary-color url('../images/orchestra-hero.jpg') no-repeat center bottom;
    background-size: cover;
}

//------------TOP BAR MENU-------------//

.top-bar{
	a{
	text-decoration:none;
	}
}


//------------TYPOGRAPHY-------------//

h1{
letter-spacing:-0.06em;
}

h2,h3{
letter-spacing:-0.03em;
}

a {
text-decoration:underline;
}

body{
	font-size: 1.13rem;
    font-weight: 400;
}

article .main-content, aside .sidebar{ 
	ul {
		line-height: 1.3;
		li{
			margin-bottom: 1rem;
		}
	}
}
//------------MAIN BODY-------------//


.rowspace {
    margin-top:1rem;
}


a.button {
text-decoration:none;
}

//------------FOOTER-------------//

